/images
.idea
.DS_Store
.cdsapirc
notebooks/erddap.py
accomtic/share
/pyvenv.cfg
bin/*
lib/*
pyvenv.cfg
lib64
notebooks/.ipynb_checkpoints/xr_data-checkpoint.ipynb
share/man/man1/ttx.1
/accomatic-web/accomatic/__pycache__
/accomatic-web/static
