{% extends "layout.html" %}
{% block content %}
<body>
<section class="hero py-4 py-6 md:py-16 relative">
  <div class="container mx-auto items-center justify-between relative text-left">
    <h1 class=" text-2xl text-cyan bg-clip-text block font-lato font-bold ">
      Oops! It seems this content isn't ready right now. </h1>
    <p class="text-gray-600  text-xl text-cyan ma-w-3xl mx-auto mt-5 font-light font-lato"> You can check back
      another day to see if Hannah was feeling productive.
    </p>
    <br>


  </div>

  <!Temp solution to make colour start in middle of page>
  <div>
    <br><br><br><br><br><br><br><br>
  </div>
</section>

</body>
{% endblock content %}